@use "var";
@use "mixins";

.hero{
    width: 100%;
    @include mixins.grid(1fr,10% 1fr);
    position: relative;
    margin-bottom: 4rem;
    .nav{
        background-color: var.$rojo;
        @include mixins.flex(space-between,center);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 1.5rem 8rem;
        z-index: 90;

        &_logo{
            max-width: 100%;
            width: 12rem;
            object-fit: cover;
        }

        &_cont{
            position: relative;
        }

        &_link{
            @include mixins.subtitulo(var.$subtitulo_size1,var.$blanco);
            margin: 1rem;
            transition: color .3s ease;
            pointer-events: unset;
            user-select: none;

            &:hover{
                color: var.$electrico;
            }
            &--active{
                padding: 2.6rem 1rem;
                background-color: #000000;
                pointer-events: none;
                
            }
        }

        &_boton{
            cursor: pointer;
            background-color: rgba($color: #000000, $alpha: 0);
            position: absolute;
            top: 2rem;
            right: 8rem;
            transform: rotate(0);
            transition: transform .5s ease;
            opacity: 0;
            pointer-events: none;
            filter: invert(1);

            &:hover{
                transform: rotate(180deg);
            }

        }

        &_img{
            pointer-events: none;
            width: 3rem;
            object-fit: cover;
        }

    }

    &_cont{
        position: relative;
        padding-top: 5rem;
        width: 100%;
        height: 100vh;
        @include mixins.flex(center,center);

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url("../image/fondo1.png");
            background-repeat: no-repeat;
            background-size: cover; 
            z-index: -1; 
        }
    }

    &_text{
        background-color: rgba($color: #000000, $alpha: .5);
        width: 40%;
        padding: 2rem
    }

    &_title{
        @include mixins.titulo(var.$titulo_size2,var.$blanco);
        text-align: center;
        margin-bottom: 2rem;
        line-height: 3.5rem;
    }
    &_subtitle{
        @include mixins.subtitulo(var.$subtitulo_size2,var.$blanco);
        text-align: center;
        margin-bottom: 2rem;
    }
    &_intro{
        @include mixins.parrafo(var.$parrafo_size1,var.$blanco);
        font-weight: 100;
    }

    @media screen and (max-width: 1200px){
        &_text{
            width: 50%;
        }
    }
    @media screen and (max-width: 987px){
        &_text{
            width: 60%;
        }
    }
    @media screen and (max-width: 768px){
        margin-bottom: 8rem;
        .nav{

            &_cont{
                position: absolute;
                top: 2rem;
                right: -100rem;
                background-color: var.$rojo;
                @include mixins.flex(center,center);
                flex-direction: column;
                width: 25rem;
                height: 35rem;
                pointer-events: none;
                transition: right 1s ease;

                &--active{
                    right: 0;
                }
                
            }

            &_link{
                &--active{
                    width: 100%;
                    text-align: center;
                }
            }
            &_boton{
                opacity: 1;
                pointer-events: unset;
            }
        }
        
        &_cont{
            top: 4.5rem;
            height: 70vh;

            &::before{
                height: 100%;
            }
        }

        &_text{
            width: 80%;
        }
    }

    @media screen and (max-width: 576px) {
        .nav{
            padding: 1.5rem 4rem;
            &_cont{
                top: 5rem;
                width: 30rem;
            }

            &_boton{
                right: 8rem;
            }
        }

        &_text{
            width: 90%;
        }

        &_title{
            font-size: var.$titulo_size1;
        }
    }

    @media screen and (max-width: 480px) {
        .nav{
            padding: 1.5rem 2rem;
            &_cont{
                top: 6.5rem;
                width: 100%;
            }

            &_boton{
                right: 6rem;
            }
        }
    }

    @media screen and (max-width: 390px) {
        &_title{
            font-size: var.$titulo_size3;
        }
    }
    @media screen and (max-width: 320px) {
        &_title{
            font-size: var.$titulo_size4;
        }
    }

}

.news{
    padding: 8rem 8rem 0;

    &_title{
        @include mixins.subtitulo(var.$subtitulo_size3,var.$negro);
        text-align: center;
        margin-bottom: 4rem;  
    }

    &_cont1{
        @include mixins.flex(center,center);
    }

    &_article{
        width: 40rem;
        height: 41rem;
        margin: 2rem;
        @include mixins.flex(Start,Start);
        flex-direction: column;
        background-color: var.$blanco;
        transition: background-color .5s ease;
        border-radius: .6rem;

        &:hover{
            background-color: var.$gris;
        }
    }

    &_image{
        max-width: 100%;
        width: 100%;
        height: 25rem;
        border-top-left-radius: .6rem;
        border-top-right-radius: .6rem;
        object-fit: cover;
    }

    &_fecha{
        @include mixins.parrafo(1.2rem,var.$rojo);
        margin: .5rem 2rem 0;
    }
    &_categoria{
        @include mixins.parrafo(1.3rem,#555);
        margin: .5rem 2rem 0;
    }

    &_title2{
        margin: 1rem 2rem;
        @include mixins.subtitulo(var.$parrafo_size2,var.$negro);
    }

    &_text{
        margin: 0 2rem;
        @include mixins.parrafo(var.$parrafo_size1,var.$negro);
    }

    &_cont2{
        margin: 4rem 0;
    }

    #news_filter{
        background-color: var.$rojo;
        color: var.$blanco;
        padding: 1rem;
        border-radius: 1rem;
    }

    &_list{
        @include mixins.flex(space-around,center);
        flex-wrap: wrap;
    }

    &_article2{
        width: 30rem;
    }

    &_image2{
        height: 20rem;
    }

    // RESPONSIVE -----------------------------------------------------------------

    @media screen and (max-width: 768px){
     
        &_article2{
            width: 25rem;
        }

        &_title2{
            margin: 1rem 0rem;
        }
        &_fecha{
            margin: .5rem 0 0;
        }
        &_categoria{
            margin: .5rem 0 0;
        }
        &_text{
            margin: 0;
        }
    }
    @media screen and (max-width: 576px){
        padding: 8rem 4rem 0;

        &_cont1{
            flex-wrap: wrap;
        }

        &_article2{
            width: 40rem;
        }
        
    }
    @media screen and (max-width: 480px){
        padding: 8rem 2rem 0;
        &_article{
            width: 100%;
            height: 38rem;
        }
    }
}